<footer class="footer list">
    <ul>
        <li>
            <h3><a href="{{ url_for('about') }}">Sobre Nós</a></h3>
            <ul>
                <li><a href="{{ url_for('about') }}">Quem somos?</a></li>
                <li><a href="{{ url_for('about') }}">Missão</a></li>
            </ul>
        </li>
        <li>
            <h3><a href="{{ url_for('faqs') }}">FAQ's</a></h3>
            <ul>
                <li><a href="{{ url_for('faqs') }}">Perguntas mais Frequentes</a></li>
                <li><a href="{{ url_for('faqs') }}">Devoluções</a></li>
            </ul>
        </li>
        <li>
            <h3><a href="{{ url_for('legal') }}">Legal</a></h3>
            <ul>
                <li><a href="{{ url_for('legal') }}">Termos de serviço</a></li>
                <li><a href="{{ url_for('legal') }}">Termos e Condições Gerais de Venda</a></li>
            </ul>
        </li>
        <li>
            <h3><a href="{{ url_for('portfolio') }}">Portefólio</a></h3>
            <ul>
                <li><a href="{{ url_for('portfolio') }}">Programa de Reciclagem de Eletrónicos</a></li>
                <li><a href="{{ url_for('portfolio') }}">Iniciativa de Tecnologia Sustentável em Escolas</a></li>
            </ul>
        </li>
    </ul>
</footer>