<header>
    <nav>
        <div id="Logo">
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='images/Retech.png') }}" alt="Logo" width="100">
            </a>
        </div>
        <menu class="menu">
            <li><a href="{{ url_for('index') }}">Página Inicial</a></li>
            <li><a href="{{ url_for('products') }}">Produtos</a></li>
            <li>
                <a>+Info</a>
                <ul>
                    <li><a href="{{ url_for('about') }}">Sobre nós</a></li>
                    <li><a href="{{ url_for('contact') }}">Contactos</a></li>
                    <li><a href="{{ url_for('faqs') }}">FAQ's</a></li>
                </ul>
            </li>
        </menu>
        <div class="search-container">
            <input type="text" placeholder="Search..">
            <button type="button">Search</button>
        </div>
        <div class="icon">
            <a href="{{ url_for('cart_page') }}" class="icon-item"><i class="fa-solid fa-cart-shopping"></i></a>
            <a href="{{ url_for('profile') }}" class="icon-item"><i class="fa-solid fa-user"></i></a>
            <form action="{{ url_for('logout') }}" method="POST" style="display:inline;">
                <button type="submit" class="icon-item" style="background: none; border: none; cursor: pointer;">
                    <i class="fa-solid fa-right-to-bracket"></i>
                </button>
            </form>
            
            
        </div>
    </nav>
</header>