@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap');




/* ================= BANNER ================= */
#banner {
    width: 100%;
    
   
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
}

.banner img {
    width: 100%;
    height: 100%;
    max-height: 230px; /* Ajuste fino para evitar que fique muito alto */
    object-fit: cover;
    cursor: pointer;
    border-radius: 10px;
}

/* ================= CONTEÚDO PRINCIPAL ================= */
.contaier {
    width: 100%;
    max-width: 1200px; /* Mantém alinhado */
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

/* ================= TÍTULO ================= */
#title {
    font-size: 2em;
    margin: 20px 0;
    text-align: center;
}

/* ================= SEÇÕES ================= */
.destaques, .projetos, .content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* ================= CARDS ================= */
article {
    margin: 20px;
    text-align: center;
    border: none;
    padding: 10px;
}
