{% extends "partials/base.html" %}

{% block title %}faqs | ReTech{% endblock %}

{% block wrapper %}
    {% include 'partials/header.html' %}
        <main class="faqs">
                <!--Titulo-->
                <h1> As perguntas Tech mais frequentes. </h1>
                    <h2> Aqui vais encontrar as respostas para todas as tuas questões a cerca dos produtos! </h2>
        
                    <section>
                        <h4> Perguntas gerais mais frequentes. </h4>
                        <!--FAQ 1-->
                        <article>
                            <h4> 1. O que são produtos recondicionados? </h4>
                            <p>Produtos recondicionados são equipamentos usados, que passaram por uma analise e foram reparados para serem vendidos novamente, proporcionando assim uma opção mais econômica e sustentável. A sua origem é de exposições, devoluções, trocas ou stock antigo, passando por um processo de diagnóstico, reparo, limpeza, teste e reconfiguração. </p>
                        </article>
                        <!--FAQ 2-->
                        <article>
                            <h4> 2. Os produtos têm algum tipo de garantia? </h4>
                            <p> Sim! Os nossos produtos por defeito possuem uma garantia num período de 12 meses contra defeitos de fábrica, para componetes expostos a um desgaste mais permaturo como bateria é de apenas 3 meses, danos de líquidos não são abrangidos pela nossa garantia.</p>
                        </article>
                        <!--FAQ 3-->
                        <article>
                            <h4> 3. Os produtos recondicionados têm marcas de uso? </h4>
                            <p> Dependendo do grau em que o mesmo tenha sido comprado, pode apresentar marcas de uso mais evidentes como, riscos no ecrã ou pelo corpo do aparelho, alguma amolgadela ou outro tipo de sinal de uso, porem estes dispositivos funcionam na sua perfeição.</p>
                        </article>
                        <!--FAQ 4-->
                        <article>
                            <h4> 4. Como é feito o processo em caso de devolução? </h4>
                            <p> O processo de devolução em caso de instisfação ou avaria prematura nas primeiras 2 semanas, é feito com o nosso serviço de pós venda através dos canais adquados. </p>
                        </article>
                        <!--FAQ 5-->
                        <article>
                            <h4> 5. Quais são as modadalidades de pagamentos que oferecem? </h4>
                            <p> As nossas modalidades de pagamento são: Cartão de crédito ou débito, paypal e transferência bancária. </p>
                        </article>
                        <!--FAQ 6-->
                        <article>
                            <h4> 6. Os aparelhos vêm com os acessórios? </h4>
                            <p> Sim, os nossos produtos vêm sempre com os acessorios fundamentais para a utilização dos aparelhos como carregador para o seu funcionamento, porém pode variar dependendo aparelho que comprar.</p>
                        </article>
                        <!--FAQ 7-->
                        <article>
                            <h4> 7. Como posso ver o estado da minha encomenda? </h4>
                            <p> Após efetuado e recebido o pagamento é enviado via e-mail um codigo de rastreio que pode ser usado para rastrear a sua encomenda pelo site da transportadora.</p>
                        </article>
            </section>
        </main>
      {% include 'partials/footer.html' %}
{% endblock %}