<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    
    <!-- fontes do google -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link href="C:\Users\migue\OneDrive\Desktop\Faculdade\Pw\Projeto 1\projeto\Home.Html">
    <script src="https://kit.fontawesome.com/8675213cad.js" crossorigin="anonymous"></script>
    <link href="/legal.css" rel="stylesheet">
    <link href="/nav_footer.css" rel="stylesheet">
    <!--Site ficar responsivo-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Legal</title>
    <!--favicon-->
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico.png">
</head>
<body>
    <header>  
        <nav> 
          <div>
            <!-- Local Image-->
                <a id="Logo" href="/PaginaInicial.Html"><img src="/public/Retech.png" alt="Logo" width="100"wght="60"></a>
            </div>
            
                <!-- Menu-->
                <menu class="menu">
                  <li><a href="/PaginaInicial.Html">Pagina Inicial</a></li>
                  <li><a href="/Products.html"> Produtos</a></li>
                  <li>
                    <a>+Info</a>
                    <ul>
                      <li><a href="/Sobrenos.html">Sobre nós</a></li>
                      <li><a href="/Contactos.html">Contactos</a></li>
                      <li><a href="/Faqs.html">Faq's</a></li>
                      <li><a href="/Legal.html">Legal</a></li>
                      <li><a href="/Portefólio.html">Portefólio</a></li>
                    </ul>
                  </li>
                </menu>
                <div class="search-container">
                  <input type="text" placeholder="Search.." />
                  <button type="button">Search</button>
                  </div>
              
                  <div class="icon">
                    <a href="/carrinho.html" class="icon-item"><i class="fa-solid fa-cart-shopping"></i></a>
                    
                    <a href="/Utilizador.html" class="icon-item"><i class="fa-solid fa-user"></i></a>
                    <a href="/Login.html" class="icon-item"><i class="fa-solid fa-right-to-bracket"></i></a>
                </div>
        </nav>
</header>
    <main class="legal">
        <div>  
            <h2>Termos de serviço</h2>
            <h5>1. Introdução</h5>
                <p> acessar o site ReTech, você concorda com os Termos de Serviço aqui descritos. Estes termos regem o uso do site, produtos e serviços fornecidos pela ReTech. Recomendamos que leia atentamente este documento antes de utilizar nosso site ou fazer uma compra.</p>
    
            <h5>2. Uso do Site</h5>
                <p>O usuário compromete-se a utilizar o site de maneira responsável, respeitando todas as leis e regulamentos aplicáveis. É proibido tentar violar a segurança do site, realizar fraudes ou utilizar os serviços de maneira ilícita.</p>
            
            <h5>3. Responsabilidade</h5>
                <p>A ReTech não será responsável por danos diretos, indiretos ou consequenciais que possam surgir do uso ou impossibilidade de uso do site ou de seus serviços.</p>
        </div> 


            <h2>Termos e Condições Gerais de Venda</h2>
            <h5>1. Produtos e Serviços</h5>
                <p>A ReTech oferece produtos de tecnologia. Todos os produtos estão sujeitos à disponibilidade no momento da compra. Reservamo-nos o direito de modificar os produtos ou preços a qualquer momento sem aviso prévio.</p>
            
            <h5>2. Processo de Compra</h5>
                <p>O cliente deve fornecer informações verdadeiras e completas ao realizar uma compra. Todos os pedidos estão sujeitos à confirmação pela ReTech. Após a confirmação, enviaremos uma notificação por e-mail contendo os detalhes da compra.</p>
                
            <h5>3. Cancelamentos e Reembolsos</h5>
                <p>Os clientes podem cancelar um pedido em até 24 horas após a compra. Após esse período, a ReTech se reserva o direito de aplicar políticas específicas para cancelamentos e reembolsos.</p>
            
            <h5>4. Garantias e Devoluções</h5>
                <p>Oferecemos garantia de 3 anos para os produtos adquiridos, desde que sejam respeitadas as condições de uso.</p>

            <h2>Política de Privacidade</h2>

            <h5>1. Coleta de Dados</h5>
                <p>A ReTech coleta informações pessoais como nome, e-mail, telefone e endereço para a realização de compras e para melhorar sua experiência de navegação. Os dados são coletados de forma transparente e com o consentimento do usuário.</p>
                
            <h5>2. Uso de Dados</h5>
                <p>As informações coletadas serão usadas para fins de processamento de pedidos, suporte ao cliente e comunicações promocionais, quando autorizado.</p>
            
            <h5>3. Compartilhamento de Dados</h5>
                <p>A ReTech não vende ou compartilha dados pessoais com terceiros, exceto quando exigido por lei ou para a execução de serviços de parceiros essenciais para a operação.</p>
                
            <h5>4. Direitos do Usuário</h5>
                <p>Os usuários têm o direito de acessar, corrigir ou excluir seus dados a qualquer momento.</p>
                
            <h2>Cookies e Definições de Privacidade</h2>
            <h5>1. Uso de Cookies</h5>
                <p>Utilizamos cookies para melhorar a experiência do usuário no site ReTech, para entender como os usuários interagem com o conteúdo e para fornecer funcionalidades de personalização.</p>

            <h5>2. Tipos de Cookies</h5>
            <p>Cookies Essenciais: Necessários para o funcionamento do site.
                Cookies de Desempenho: Coletam informações sobre o uso do site.
                Cookies de Funcionalidade: Permitem uma navegação mais personalizada.</p>

            <h5>3. Gerenciamento de Cookies</h5>
                <p>Os usuários podem configurar as preferências de cookies diretamente em seu navegador ou através das configurações do site, optando por aceitar ou rejeitar certos tipos de cookies.</p>
                
            <h2>Outras Informações Legais</h2>
            <h5>1. Propriedade Intelectual</h5>
                <p>Todo o conteúdo disponível no site ReTech, incluindo textos, imagens, gráficos, logotipos e marcas, são de propriedade exclusiva da ReTech ou de seus licenciados, e estão protegidos por leis de direitos autorais e de propriedade intelectual.</p>
                
            <h5>2. Alterações nos Termos</h5>
                <p>A ReTech se reserva o direito de alterar estes termos a qualquer momento. É responsabilidade do usuário revisar periodicamente esta página para verificar possíveis mudanças.</p>

            <h3>Menções Legais</h3>
            <h5>1. Razão Social</h5>
                <p>ReTech Tecnologia LTDA
                NIF: 123456789
                Endereço: Alameda da Linha das Torres</p>
            
            <h5>2. Informações de Contato</h5>
                <p> E-mail: contato@retech.com
                    Telefone: 960000000
                    Horário de Atendimento: Segunda a Sexta, das 9h às 18h</p>
            
            <h5>Denunciar Conteúdo Ilícito</h5>
                <p>Se você encontrar qualquer conteúdo que considere impróprio ou que viole leis aplicáveis no site ReTech, entre em contato através do e-mail denuncia@retech.com.br, fornecendo informações detalhadas sobre o conteúdo e o motivo da denúncia.</p>
                
            <h5>Pagamentos 100% Seguros</h5>
                <p>Na ReTech, a segurança de suas transações é nossa prioridade. Utilizamos tecnologia de criptografia SSL para proteger todas as informações de pagamento e garantir que suas compras sejam realizadas de maneira segura. Aceitamos diversos métodos de pagamento, como cartões de crédito, débito e carteiras digitais.</p>
    </main>            
            

    <footer class="footer list">
        <!-- Criamos Divs para separar por colunas cada parte do footer-->
        <li>
          <h3>
            <a href="/Retech/Sobrenos.html">Sobre Nós</a>
          </h3>
          <ul>
            <li><a href="/Retech/Sobrenos.html">Quem somos?</a></li>
            <li><a href="/Retech/Sobrenos.html">Missão</a></li>
          </ul>
        </li>
        <li>
          <h3>
            <a href="/Retech/Faqs.html"> FAQ's</a>
          </h3>
          <ul>
            <li><a href="/Retech/Faqs.html">Perguntas mais Frequentes </a></li>
            <li><a href="/Retech/Faqs.html">Devoluções </a></li>
          </ul>
        </li>
        <li>
          <h3>
            <a href="/Retech/Legal.html"> Legal</a>
          </h3>
          <ul>
            <li><a href="/Retech/Legal.html">Termos de serviço </a></li>
            <li>
              <a href="/Retech/Legal.html">Termos e Condições Gerais de Venda</a>
            </li>
          </ul>
        </li>
        <li>
          <h3>
            <a href="/Retech/Portefólio.html"> Portefólio</a>
          </h3>
          <ul>
            <li>
              <a href="/Retech/Portefólio.html"
                >Programa de Reciclagem de Eletrónicos</a
              >
            </li>
            <li>
              <a href="/Retech/Portefólio.html"
                >Iniciativa de Tecnologia Sustentável em Escolas</a
              >
            </li>
          </ul>
        </li>
      </footer>
</body>

</html>