{% extends 'partials/base.html' %}
{% block title %}Login | ReTech{% endblock %}

{% block wrapper %}
 
{% include "partials/header.html" %}
    
        <h2>Login</h2>
        <div class="container">
            <form action="/login" method="POST">
                <input type="email" name="email" placeholder="E-mail" required>
                <input type="password" name="password" placeholder="Senha" required>
                <button >Entrar</button>
                <button >Registrar</button>
            </form>
        </div>

{% include "partials/footer.html" %}
{% endblock %}