<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="UTF-8">
        
        <!-- fontes do google e ficheiros -->
        <!--<link href="https://fonts.googleapis.com/css2?family=E:wght@400;600&display=swap" rel="stylesheet">-->
        <link href="C:\Users\migue\OneDrive\Desktop\Faculdade\Pw\Projeto 1\projeto\Home.Html">
        <script src="https://kit.fontawesome.com/8675213cad.js" crossorigin="anonymous"></script>
        <!--css do menu e do footer-->
        <link href="/nav_footer.css" rel="stylesheet">
        <!--css da pagina inicial -->
        <link href="/portefólio.css" rel="stylesheet">
        <!--Site ficar responsivo   -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ReTech</title>
        <!--favicon-->
        <link rel="icon" type="image/x-icon" href="/public/favicon.ico.png">
    </head> 
   <body>
        <header>  
            <nav> 
                <div>
                <!-- Local Image-->
                    <a id="Logo" href="/PaginaInicial.Html"><img src="/public/Retech.png" alt="Logo" width="100"wght="60"></a>
                </div>
                
                    <!-- Menu-->
                    
                        
                            <!-- Menu-->
                            <menu class="menu">
                              <li><a href="/PaginaInicial.Html">Pagina Inicial</a></li>
                              <li><a href="/Products.html"> Produtos</a></li>
                              <li>
                                <a>+Info</a>
                                <ul>
                                  <li><a href="/Sobrenos.html">Sobre nós</a></li>
                                  <li><a href="/Contactos.html">Contactos</a></li>
                                  <li><a href="/Faqs.html">Faq's</a></li>
                                  <li><a href="/Legal.html">Legal</a></li>
                                  <li><a href="/Portefólio.html">Portefólio</a></li>
                                </ul>
                              </li>
                            </menu>
                            <div class="search-container">
                              <input type="text" placeholder="Search.." />
                              <button type="button">Search</button>
                              </div>
                          
                              <div class="icon">
                                <a href="/carrinho.html" class="icon-item"><i class="fa-solid fa-cart-shopping"></i></a>
                                
                                <a href="/Utilizador.html" class="icon-item"><i class="fa-solid fa-user"></i></a>
                                <a href="/Login.html" class="icon-item"><i class="fa-solid fa-right-to-bracket"></i></a>
                            </div>
            </nav>
        </header>
        <!--corpo-->

        <main>
        </section>
        <div id="title">    
        <h1>Projetos</h1>
        </div>
        <section class="projetos">
            
            <article>
                <img src="/public/imagens/paginaportfolio/verde.webp" alt="destaque 1" width="200px" height="200px">
                <h3>Programa de Reciclagem de Eletrónicos</h3>
                <P>Lançámos um programa de reciclagem de eletrónicos, no qual recolhemos dispositivos antigos e os recondicionamos para doação a instituições de caridade. 
                    Esta iniciativa promoveu a sustentabilidade e ajudou comunidades carenciadas a ter acesso à tecnologia. 
                    O projeto não só reduziu o desperdício de eletrónicos, mas também fez uma diferença significativa na vida de muitas pessoas.</P>
            </article>
            <article>
                <img src="/public/imagens/paginaportfolio/escola.webp" alt="destaque 2" width="200px" height="200px">
                <h3>Iniciativa de Tecnologia Sustentável em Escolas</h3>
                <P>Desenvolvemos um programa para fornecer computadores recondicionados a escolas em comunidades desfavorecidas.
                   O projeto incluiu formações para professores sobre como integrar a tecnologia no ensino, promovendo um ambiente de aprendizagem mais dinâmico e acessível para os alunos. 
                   Esta iniciativa contribuiu para a melhoria da qualidade da educação nessas instituições.</P>
            </article>
            <article>
                <img src="/public/imagens/paginaportfolio/pexels-cowomen-1058097-2041627.jpg" alt="destaque 3" width="250px" height="200px">
                <h3>Atualização de Infraestrutura em Pequenas Empresas</h3>
                <P>A RETECH implementou um projeto destinado a modernizar a infraestrutura tecnológica de pequenas empresas locais. 
                    Fornecemos computadores de secretária e servidores recondicionados, juntamente com suporte técnico especializado. 
                    O resultado foi um aumento significativo na eficiência operacional e na satisfação dos colaboradores, permitindo que estas empresas se tornassem mais competitivas no mercado.</P>
            </article>
        </section>

        </main>
        
        <footer class="footer list">
            <!-- Criamos Divs para separar por colunas cada parte do footer-->
            <li>
              <h3>
                <a href="/Retech/Sobrenos.html">Sobre Nós</a>
              </h3>
              <ul>
                <li><a href="/Retech/Sobrenos.html">Quem somos?</a></li>
                <li><a href="/Retech/Sobrenos.html">Missão</a></li>
              </ul>
            </li>
            <li>
              <h3>
                <a href="/Retech/Faqs.html"> FAQ's</a>
              </h3>
              <ul>
                <li><a href="/Retech/Faqs.html">Perguntas mais Frequentes </a></li>
                <li><a href="/Retech/Faqs.html">Devoluções </a></li>
              </ul>
            </li>
            <li>
              <h3>
                <a href="/Retech/Legal.html"> Legal</a>
              </h3>
              <ul>
                <li><a href="/Retech/Legal.html">Termos de serviço </a></li>
                <li>
                  <a href="/Retech/Legal.html">Termos e Condições Gerais de Venda</a>
                </li>
              </ul>
            </li>
            <li>
              <h3>
                <a href="/Retech/Portefólio.html"> Portefólio</a>
              </h3>
              <ul>
                <li>
                  <a href="/Retech/Portefólio.html"
                    >Programa de Reciclagem de Eletrónicos</a
                  >
                </li>
                <li>
                  <a href="/Retech/Portefólio.html"
                    >Iniciativa de Tecnologia Sustentável em Escolas</a
                  >
                </li>
              </ul>
            </li>
          </footer>
    </body>

</html>