{% extends 'partials/base.html' %}
{% block title %}Login | ReTech{% endblock %}

{% block wrapper %}
 
    {% include "partials/header.html" %}


        

 
        
        <h2 id="title">Produtos Disponíveis</h2>
        <section class="product-cards">
            {% if products %}
                {% for product in products %}
                <article class="card">
                    <img src="{{ product.image_url }}" alt="{{ product.name }}" width="200px" height="200px">
                    <h2>{{ product.name }}</h2>
                    <span class="price">{{ "%.2f"|format(product.price) }}€</span>
                    <ul>
                        <li>{{ product.description }}</li>
                    </ul>
                    {% if product.id %}
                        <button onclick="window.location.href='{{ url_for('product_details', product_id=product.id) }}'" class="buy-button">
                            Comprar
                        </button>
                    {% else %}
                        <button disabled class="buy-button">Indisponível</button>
                    {% endif %}
                </article>
                {% endfor %}
            {% else %}
                <p class="no-products">Nenhum produto disponível no momento.</p>
            {% endif %}
        </section>
        
        
    

    {% include "partials/footer.html" %}
{% endblock %}
    