{% extends "partials/base.html" %}

{% block title %}Product Details{% endblock %}
{% block wrapper %}

{% include 'partials/header.html' %}


<main>
  <section class="product-details">
      <article class="card">
          <img src="{{ product.image_url }}" alt="{{ product.name }}" width="300px" height="300px">
      </article>
      <article>
          <h1>{{ product.name }}</h1>
          <ul>
              <li>{{ product.description }}</li>
          </ul>
          <p><strong>€{{ "%.2f"|format(product.price) }}</strong></p>
          <button onclick="adicionarAoCarrinho({{ product.id }})" type="button">
            Adicionar ao Carrinho
        </button>
        
        <script>
        function adicionarAoCarrinho(productId) {
            fetch(`/add_to_cart/${productId}`, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                }
            })
            .then(response => response.json())
            .then(data => {
                alert(data.message); // Exibe mensagem de sucesso
            })
            .catch(error => console.error("Erro ao adicionar produto ao carrinho:", error));
        }
        </script>
        
      </article>
  </section>

  <h2>Produtos Recomendados</h2>
  <section class="recommended-products">
      {% if recomendados %}
          {% for recomendado in recomendados %}
          <article class="recommended-item">
              <img src="{{ recomendado.image_url }}" alt="{{ recomendado.name }}" width="200px" height="200px">
              <p>{{ recomendado.name }}</p>
              <p>€{{ "%.2f"|format(recomendado.price) }}</p>
              <button onclick="window.location.href='{{ url_for('product_details', product_id=recomendado.id) }}'" type="button">
                  Ver Produto
              </button>
          </article>
          {% endfor %}
      {% else %}
          <p>Nenhum produto recomendado disponível.</p>
      {% endif %}
  </section>
</main>

{% include 'partials/footer.html' %}

{% endblock %}




    