{% extends "partials/base.html" %}

{% block title %}Sobre Nós{% endblock %}

{% block wrapper %}
    {% include 'partials/header.html' %}

        <main>
            <section>
            <div id="sobrenos">
                <h1> Sobre nós </h1>
                <p> Somos uma empresa de tecnologia 100% portuguesa empenhada numa mundança no mercado tecnologico 
                    em Portugal. Presamos a qualidade e visamos ir ao encontro de todo o tipo de clientes, com preços acessiveis em todo o tipo de artigos.
                    venha dar uma vista de olhos ao nosso catálogo para ver as nossas novidades e não se esqueça de visitar principalmente as nossas promoções!!
                </p>   
            </div>
            <div id="objetivo">
                <h2> Qual é o nosso objetivo? </h2>
                <p> O nosso objetivo é que os portugueses possam vir a ter cada vez mais acesso a produtos tecnologicos
                    de maneira mais acessível, e de modo a não ter um impacto tão negativo ao meio ambiente.
                    Sabe aquele portatil ou consola que tanto ambicionava mas que sempre adiou a sua compra por ser um artigo
                    que ia pesar muito no seu orçamento? É para isso que nós, ReTech estamos aqui!
                </p>
            </div>
            <div id="compromisso">
                <h3> A nossa visão e compromisso </h3>
                <p> Quando se trata de artigos em que ja tiveram um antigo dono todos nós ficamos com um pé
                    atrás quanto a isso, ainda mais quando se fala em artigos tecnológicos. Mas quem nunca comprou 
                    um carro em segunda mão? O que nós queremos passar, é que se tudo for devidamente reparado, não 
                    há necessidade de comprar tudo em «primeira mão».
                    Todo e qualquer equipamento que passa por nós é devidamente testado, limpo e reparado.
                    A nossa visão é sermos a referência de recondicionados na Europa e no mundo, limpando
                    qualquer estigma associado a artigos recondicionados.
                </p>
            </div>
            </section>
        </main>
    {% include 'partials/footer.html' %}
{% endblock %}
